@font-face {
  font-family: 'IvyMode';
  src: url('../font/IvyMode-Family font/IvyMode-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'IvyMode';
  src: url('../font/IvyMode-Family font/IvyMode-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'IvyMode';
  src: url('../font/IvyMode-Family font/IvyMode-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IvyMode';
  src: url('../font/IvyMode-Family font/IvyMode-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'IvyMode';
  src: url('../font/IvyMode-Family font/IvyMode-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IvyMode';
  src: url('../font/IvyMode-Family font/IvyMode-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'IvyMode';
  src: url('../font/IvyMode-Family font/IvyMode-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IvyMode';
  src: url('../font/IvyMode-Family font/IvyMode-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'IvyMode';
  src: url('../font/IvyMode-Family font/IvyMode-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'IvyMode';
  src: url('../font/IvyMode-Family font/IvyMode-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }
}

@layer components {
  .btn {
    @apply px-6 py-3 rounded-full font-bold transition-all duration-300 active:scale-95;
  }
  .btn-primary {
    @apply bg-brand-blue text-white hover:bg-brand-blue/90 shadow-md hover:shadow-brand-blue/20;
  }
  .btn-orange {
    @apply bg-brand-orange text-white hover:bg-brand-orange/90 shadow-md hover:shadow-brand-orange/20;
  }

  .site-header.scrolled {
    @apply bg-brand-blue/80 backdrop-blur-lg py-4 lg:py-5 shadow-xl;
  }
}
